section {
  display: -webkit-flex;
  display: flex;
}
nav{
    -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
   background-color:  rgb(43, 42, 39);
  padding: 20px;
}
article{
   -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  /* background-image:url('../../assets/background.png');
    background-color: #686464; 
    background-position: center; 
    background-size: cover; */
  padding: 20px;
}
.avatar{
    position: relative;
    margin-left: 15%;
    margin-bottom: 10px;
}
.avatar img {
    width: 190px;
    height: 190px;
    max-width: 190px;
    max-height: 190px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgb(153, 115, 0);
}
.name{
    margin:auto;
    text-align: center;
    color: rgb(153, 115, 0);
    font-family: Freestyle Script ;
}
.bio {
    margin:auto;
    text-align: center;    font-size: large;
    color: grey;
}
.contact{
    color:  rgb(153, 115, 0);
    font-size: 25px;
}
.infos{
    font-size: 10;
    color:rgb(189, 184, 184);
    margin-left: 4px;
    padding-bottom: 50px;

}
.costumize{
	font-size:22px;
	color:green;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 10px;
}
.costumize:hover{
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: rgba(0, 0, 0, 0.24);
}
.area {
    width: 100px;
    border-radius: 5px;
}
.progress-bar{
    background-color:green;
}
.skill{
     font-size: 15;
    color:rgb(189, 184, 184);
    margin-left: 4px;
}
.flex-container {
  display: flex;
  align-items: stretch;

}
footer {
  display: none;
}
@media (max-width: 600px) {
    .avatar{
        margin-left: 20%;
    }
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  footer {
  background-color:  rgb(43, 42, 39);
  padding: 20px;
  text-align: center;
  color: white;
  display:block ;
}
.infos{
    font-size: 10;
    color:rgb(189, 184, 184);
    margin-left: 4px;
    padding-bottom: 15px;

}
}
/* -------------------------------------- education form css ------------------------------------------------*/

.notdate {
    width:350px;
}
.date {
    width:170px;
}
@media(max-width: 370px){
    .notdate {
        width:300px;
    }
    .date {
        width:130px;
    }
}
::ng-deep.mat-form-field-underline {
 /*change color of underline*/
 background-color: gray !important;
} 
::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: gray !important;
   }
   
mat-datepicker-toggle {
    color: gray !important;
}
/* --------------------------------------- education css ---------------------------------------*/
.education {
    margin-bottom: 20px;
    margin-top: 20px;
}
.maindate {
    width:7rem;
    color:grey;
}

.mainContent .maindescr {
    color:grey;
}