 <form enctype='multipart/form-data' #registerform="ngForm" (ngSubmit) = "addProject()">
  <h2 class="text-center text-primary">Add a new Project</h2>
  <p class="text-center text-secondary">Add a project to your portfolio  </p>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" required name="title" (change)="onTitleChange($event)" placeholder="title">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required name="description" (change)="onDescriptionChange($event)" placeholder="description">
  </div>
  <div class="form-group">
    <input type="file"  required name="code_file" (change)="onFileChange($event)" placeholder="code file">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required name="bugs" (change)="onBugsChange($event)" placeholder="bugs">
  </div>
  <div class="form-group text-center">
    <button  class="btn btn-success" type="submit">Register</button>
    <button style="margin:10px;" class="btn btn-danger" type="button" (click)="cancelForm()">Cancel</button>
  </div>
</form>  

